{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main list</title>
    <link type="text/css" href="{% static 'hookah/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
{#-----------------Меню выбора-----------------------#}
    <ul class="leftPanel">
        <li class="leftPanelMenu"><a class="menulinks" href="{% url 'position'  %}">Местоположение</a></li>
        <li class="leftPanelMenu"><a class="menulinks" href="{% url 'galary'  %}">Галерея</a></li>
        <li class="leftPanelMenu"><a class="menulinks" href="{% url 'advantages'  %}">Преимущества</a></li>
        <li class="leftPanelMenu"><a class="menulinks" href="{% url 'main'  %}">Главная</a></li>
    </ul>

 {#-----------------Блок контента-----------------------#}
 {% block content %}
 {% endblock %}

</body>
</html>